:root{
    overflow-x: hidden;
}

@media screen and (prefers-color-scheme: no-preference) {
    .navbar-light {
        color: white !important;
        transition: 0.7s ease-in-out;
    }
    
    .bg-light {
        background-color: white !important;
        transition: 0.7s ease-in-out;
    }    
}
@media screen and (prefers-color-scheme: no-preference) {
    .navbar-light {
        color: white !important;
        transition: 0.7s ease-in-out;
    }
    
    .bg-light {
        background-color: white !important;
        transition: 0.7s ease-in-out;
    }    
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body,
header,
#intro {
    height: 100%;
}

body {
   
}

#intro {
    background: url('../images/light/home.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

#summary p {
    text-align: justify !important;
}

#summary {
}

#about_sectionbreak.img-fluid {
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url('../images/light/about.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#skills_sectionbreak.img-fluid {
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url('../images/light/skills.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact_jump::before {
    content: "";
    display: block;
    height: 35px;
    margin: -35px 0 0;
}

#summary::before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}

/*Footer*/

footer {
    background: #222;
    color: #aaa;
    padding-top: 10px;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: #fff;
}


footer .three-column {
    overflow: hidden;
}

footer .three-column li {
    width: 33.3333%;
    float: left;
    padding: 5px 0;
}


footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
}

/* 
.box {
    width: 120%;
    height: 200px;
    left: -10%;
    background-color: red;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    content: "";
    position: absolute;
    bottom: -100px;

} */


.box {
    width: 120%;
    left: -10%;
    height: 200px; 
    background-color: white;
    content: "";
    bottom: 0px;
    position: relative;
    z-index: 2;
    transition:  0.7s ease-in-out;
}


#contactbutton:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}



.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 45px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    transform: translateY(10%);
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

input:checked+.slider {
    background-color: #00c851;
}

input:checked+.slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

#cookiealert {
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;

}
#hamburger {
    width: 25px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #hamburger span:nth-child(1) {
    top: 0px;
  }
  
  #hamburger span:nth-child(2) {
    top: 8px;
  }
  
  #hamburger span:nth-child(3) {
    top: 16px;
  }
  
  #hamburger.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -10px;
  }
  
  #hamburger.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
#beginninoflife{
    z-index: 3;
    position: relative;
    margin-top: -230px;
    transition:  0.7s ease-in-out;
}

/* Upper */
.beginninoflife-upper{
    margin-top: -250px !important;
    transition:  0.7s ease-in-out;
    
}

.otherbox-upper {
    -webkit-transform: rotate(+5deg);
    -ms-transform: rotate(+5deg);
    transform: rotate(+5deg);
    transition:  0.7s ease-in-out;
    bottom: 100px;
}

@media only screen and (max-width: 999px)  {

    #animatedNet{
        visibility: hidden !important;
    }

    .placeholder {
    margin-top: 100%;
    visibility: visible;
    margin-top: 10%;
    }
    
}
