* {
    margin : 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Start Loading Page *//
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
/* End Loading Page*/

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background             : url('../IMG/light/home.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
}

#summary p {
    text-align: justify !important;
}

#about_sectionbreak.img-fluid {
    background-attachment  : fixed;
    padding-top            : 80px;
    padding-bottom         : 80px;
    background             : url('../IMG/light/about.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
}
#skills_sectionbreak.img-fluid {
    background-attachment  : fixed;
    padding-top            : 80px;
    padding-bottom         : 80px;
    background             : url('../IMG/light/skills.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
}

#contact_jump::before {
    content: "";
    display: block; 
    height: 35px; 
    margin: -35px 0 0;  
}
#summary::before {
    content: "";
    display: block; 
    height: 50px; 
    margin: -50px 0 0;  
}
/*Footer*/

footer {
    background : #222;
    color      : #aaa;
    padding-top: 10px;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: #fff;
}


footer .three-column {
    overflow: hidden;
}

footer .three-column li {
    width  : 33.3333%;
    float  : left;
    padding: 5px 0;
}


footer .copyright {
    padding   : 15px 0;
    background: #333;
    margin-top: 20px;
    font-size : 15px;
}

/*viewport*/
.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

.box::after {
    width            : 120%;
    height           : 200px;
    left             : -10%;
    background-color : white;
    -webkit-transform: rotate(-5deg);
    -ms-transform    : rotate(-5deg);
    transform        : rotate(-5deg);
    content          : "";
    position         : absolute;
    bottom           : -100px;
}

.otherbox::after{
    width            : 120% !important;
    height           : 200px !important;
    left             : -10% !important;
    background-color : red;
    -webkit-transform: rotate(+5deg);
    -ms-transform    : rotate(+5deg);
    transform        : rotate(+5deg);
    content          : "";
    position         : absolute;
    bottom           : -100px;
}

#contactbutton:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}



.theme-switch-wrapper {
    display    : flex;
    align-items: center;
}

em {
    margin-left: 10px;
    font-size  : 1rem;
}

.theme-switch {
    display : inline-block;
    height  : 24px;
    position: relative;
    width   : 45px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom          : 0;
    cursor          : pointer;
    left            : 0;
    position        : absolute;
    right           : 0;
    top             : 0;
    transition      : .4s;
}

.slider:before {
    background-color: #fff;
    bottom          : 4px;
    content         : "";
    height          : 18px;
    left            : 4px;
    position        : absolute;
    transition      : .4s;
    width           : 18px;
}

input:checked+.slider {
    background-color: #00c851;
}

input:checked+.slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

#cookiealert {
    background-color: white;
    position: fixed; 
    bottom: 0; 
    z-index: 1;
    width: 100%;
  
}

