:root {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,h3,p,span,b,i,.navbar,h4 {
    font-family: 'Lato', sans-serif;
}


.bouncy{
    animation: bouncy 5s infinite linear;
    position:relative;
    }
    
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }
    .bouncy2{
        animation: bouncy 6s infinite linear;
        position:relative;
        }
        @keyframes bouncy {
        0%{top:0em}
        40%{top:0em}
        43%{top:-0.9em}
        46%{top:0em}
        48%{top:-0.4em}
        50%{top:0em}
        100%{top:0em;}
        }
        .bouncy3{
            animation: bouncy 4s infinite linear;
            position:relative;
            }
            @keyframes bouncy {
            0%{top:0em}
            40%{top:0em}
            43%{top:-0.9em}
            46%{top:0em}
            48%{top:-0.4em}
            50%{top:0em}
            100%{top:0em;}
            }

   
      
.buttonC{
    border-style: none;
    color:white;
    background-color: transparent;
    letter-spacing: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 20px;
    overflow: hidden !important;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.buttonC span{
    position: absolute;
    display: block;
}
.buttonC span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #fff);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}

.buttonC span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #fff);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.buttonC span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #fff);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.buttonC span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #fff);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.buttonC:hover{
    transition: all .5s;
    transform: rotate(-2deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

html,
body,
header,
#intro {
    height: 100%;
    width: 100%;
}

body {}

#intro {
    background: url('../images/light/home.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

#summary p {
    text-align: justify !important;
}

#summary {}

#about_sectionbreak.img-fluid {
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url('../images/light/about.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#skills_sectionbreak.img-fluid {
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url('../images/light/skills.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact_jump::before {
    content: "";
    display: block;
    height: 35px;
    margin: -35px 0 0;
}

#summary::before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}

/*Footer*/

footer {
    background: #222;
    color: #aaa;
    padding-top: 10px;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: #fff;
}


footer .three-column {
    overflow: hidden;
}

footer .three-column li {
    width: 33.3333%;
    float: left;
    padding: 5px 0;
}


footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
}

.box {
    width: 120%;
    left: -10%;
    height: 200px;
    background-color: white;
    content: "";
    bottom: 0px;
    position: relative;
    z-index: 2;
    transition: 0.7s ease-in-out;
}


#contactbutton:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}



.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

em {
    margin-left: 10px;
    font-size: 1rem;
}


.pNavbar {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    transition: 0.3s ease-in-out !important;
}

.navbar {
    transition: 0.3s ease-in-out !important;

}


.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 45px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    transform: translateY(10%);
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

input:checked + .slider {
    background-color: #00c851;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

#cookiealert {
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;

}

#darkmodealert {
    background-color: white;
    position: fixed;
    bottom: 2%;
    z-index: 9999;
    right: 2%;
    width: 450px;
    padding: 20px;

}


#hamburger {
    width: 25px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2) {
    top: 8px;
}

#hamburger span:nth-child(3) {
    top: 16px;
}

#hamburger.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -10px;
}

#hamburger.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#beginninoflife {
    z-index: 3;
    position: relative;
    margin-top: -230px;
    transition: 0.7s ease-in-out;
}

#animatedNet:hover {
    cursor: pointer;
}

/* Upper animation of landing page */
.beginninoflife-upper {
    margin-top: -250px !important;
    transition: 0.7s ease-in-out;

}

.otherbox-upper {
    -webkit-transform: rotate(+5deg);
    -ms-transform: rotate(+5deg);
    transform: rotate(+5deg);
    transition: 0.3s ease-in-out;
    bottom: 100px;
}
.placeholder {
    visibility: visible !important;
}

/* Media for Smartphones */
@media only screen and (max-width: 999px) {
    #darkmodealert {
        width: 100% !important;
        padding: 20px !important;
        right: 0 !important;
        bottom: 0 !important;
    }

    #animatedNet {
        visibility: hidden !important;
        height: auto !important;
    }

    .box {
        width: 100% !important;
        left: 0%;
    }

    .otherbox-upper {
        -webkit-transform: rotate(+0deg) !important;
        -ms-transform: rotate(+0deg) !important;
        transform: rotate(+0deg) !important;
    }

    .placeholder {
        margin-top: 0%;
        visibility: visible !important;
    }
}

.glitchiboi:hover {
    animation: text-shadow 1.5s ease-in-out infinite;
}

.glitchiboi {
    animation-play-state: paused;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1px);
        text-shadow: 
            0 1.125px 0 #0c2ffb, 
            0 1.25px 0 #2cfcfd, 
            0 -1.125px 0 #fb203b, 
            0 -1.25px 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5px);
        text-shadow: 
            0 -1.0625px 0 #0c2ffb, 
            0 -1.125px 0 #2cfcfd, 
            0 1.0625px 0 #fb203b, 
            0 1.125px 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25px);
        text-shadow: 
            0 1.03125px 0 #0c2ffb, 
            0 1.0625px 0 #2cfcfd, 
            0 -1.03125px 0 #fb203b, 
            0 -1.0625px 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}
